@model Contact

<h2>Create Contact</h2>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>LastName</label><br />
        <input type="text" name="LastName" required /><br />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>FirstName</label><br />
        <input type="text" name="FirstName" required /><br />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>MiddleName</label><br />
        <input type="text" name="MiddleName" required /><br />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>PhoneNumber</label><br />
        <input type="number" name="PhoneNumber" required /><br />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Address</label><br />
        <input type="text" name="Address" required  /><br />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Description</label><br />
        <input type="text" name="Description" required /><br />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <p></p>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>