<form asp-controller="Contacts" asp-action="Delete" asp-route-id="@Model.ID" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>